@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset {
  html {
    text-size-adjust: none;
  }

  input,
  textarea,
  select {
    font: inherit;
  }
}

/* --------------------------------------------- */

@layer base {
  html {
    @apply leading-snug;
  }

  body {
    @apply bg-white text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-title;
  }

  p {
    @apply text-pretty;
  }
}

/* --------------------------------------------- */

@layer layout {
  .content-grid {
    --content-grid-gap: theme('spacing.12');
    --content-grid-max-width: theme(maxWidth.1440);

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--content-grid-gap), 1fr)
      [content-start] min(
        100% - (var(--content-grid-gap) * 2),
        var(--content-grid-max-width) - var(--content-grid-gap) * 2
      )
      [content-end] minmax(var(--content-grid-gap), 1fr) [full-width-end];

    & .col-content {
      grid-column: content;
    }

    & .col-full-width {
      grid-column: full-width;
      display: grid;
      grid-template-columns: subgrid;
    }

    @media (width < 768px) {
      --content-grid-gap: theme('spacing.6');
    }
  }
}

/* --------------------------------------------- */

@layer components {
  #why-choose-us > #grid-layout {
    @apply grid grid-cols-5 gap-8 sm:gap-4 md:gap-6;
    grid-template-areas:
      'b1 b1 b1 b2 b2'
      'b1 b1 b1 b3 b3'
      'b4 b4 b6 b6 b6'
      'b5 b5 b6 b6 b6';

    @media (width < 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'b1 b1'
        'b2 b3'
        'b4 b5'
        'b6 b6';
    }
    @media (width < 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'b1 '
        'b2'
        'b3'
        'b4'
        'b5'
        'b6';
    }

    & > div:nth-child(1) {
      grid-area: b1;
    }
    & > div:nth-child(2) {
      grid-area: b2;
    }
    & > div:nth-child(3) {
      grid-area: b3;
    }
    & > div:nth-child(4) {
      grid-area: b4;
    }
    & > div:nth-child(5) {
      grid-area: b5;
    }
    & > div:nth-child(6) {
      grid-area: b6;
    }
  }

  #about-us > #grid-layout {
    @apply grid grid-cols-9 gap-6 sm:gap-4 md:gap-6;
    grid-template-areas:
      'b1 b1 b1 b2 b2 b2 b3 b3 b3'
      'b1 b1 b1 b2 b2 b2 b3 b3 b3'
      'b1 b1 b1 b4 b4 b4 b4 b6 b6'
      'b1 b1 b1 b5 b5 b5 b5 b6 b6';

    @media (width < 1280px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 300px);
      grid-template-areas:
        'b1 b1 b1 b2 b2 b2'
        'b1 b1 b1 b3 b3 b3'
        'b4 b4 b4 b6 b6 b6'
        'b5 b5 b5 b6 b6 b6';
    }

    @media (width < 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: none;
      grid-template-areas:
        'b1'
        'b2'
        'b3'
        'b4'
        'b5'
        'b6';
    }

    & > div:nth-child(1) {
      grid-area: b1;
    }
    & > div:nth-child(2) {
      grid-area: b2;
    }
    & > div:nth-child(3) {
      grid-area: b3;
    }
    & > div:nth-child(4) {
      grid-area: b4;
    }
    & > div:nth-child(5) {
      grid-area: b5;
    }
    & > div:nth-child(6) {
      grid-area: b6;
    }
  }
  #dream-product > #grid-layout {
    @apply grid grid-cols-5 grid-rows-2 gap-8;
    grid-template-areas:
      'b1 b1 b2 b2 b2'
      'b3 b3 b3 b4 b4';

    & > div:nth-child(1) {
      grid-area: b1;
    }
    & > div:nth-child(2) {
      grid-area: b2;
    }
    & > div:nth-child(3) {
      grid-area: b3;
    }
    & > div:nth-child(4) {
      grid-area: b4;
    }
  }
}

/* --------------------------------------------- */

@layer utilities {
  .text-title {
    @apply text-4xl font-bold leading-title md:text-5xl lg:text-6xl;
  }
}
