@import 'katex/dist/katex.min.css';

@import './layout.css';
@import './components.css';
@import './mdx.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: none;
    scroll-behavior: smooth;
    @apply leading-snug;
  }

  body {
    @apply bg-white text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-title;
  }

  p {
    @apply text-pretty;
  }

  input,
  textarea,
  select {
    font: inherit;
  }

}

/* --------------------------------------------- */

@layer utilities {
  .text-title {
    @apply text-4xl font-bold leading-title md:text-5xl lg:text-6xl;
  }
}
